# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE files
.idea/
.vscode/

# Ignore Python caches
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other files or directories that shouldn't be tracked
